@import '../partials/variables';
@import '../partials/mixins';


.loader {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 105px;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::after {
    content: '';
    width: 75px;
    height:75px;
    border: 15px solid #dddddd;
    border-top-color: $btn-color;
    border-radius: 50%;
    animation: loading 0.75s  ease infinite;
}
@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
