@import "../partials/variables";

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
    width: 100%;


        
        button {
            text-decoration: none;
            width: 85%;
            height: 1.5rem;
            border: 1px solid $btn-color;
            text-align: center;
            border-radius: 5px;
            background-color: $btn-color;
            transform: rotate(0deg);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            transition: transform 0.2s ease-in-out;
            margin: 5px;
            font-family: $main-font;
            color: $font-color;

            &:hover {
                transform: rotate(2deg) scale(110%);
                box-shadow: 0 0 10px rgba(0,0,0,0.8);
                

            }
        }
    
}